* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login_title {
  margin-top: 38px;
  margin-bottom: 61px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 112px;
  letter-spacing: -1.5px;
}

.filledInput::before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 375px;
  background-color: #f0f0f0;
  z-index: 1;
}
